# Ignore from local build
settings.ini
Gemfile.lock
_posts/2022-08-22-My-First-Jupyter-Notebook.md
_posts/2022-08-23-Bash-Kernel.md
_posts/2022-08-25-Google-Doc-Post.md
_posts/2022-08-26-Python-Quiz.md
_posts/2022-08-30-Python-Lists-Dictionaries.md
_posts/2022-09-11-Performance-Task.md
_posts/2022-09-22-Javascript.md
_posts/2022-10-03-AP-error_testing.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-07-API.md
_posts/2022-10-12-API-Frontend-Backend.md
_posts/2022-10-23-Javascript-API-Hacks.md
_posts/2022-10-25-Final-Project-API.md
_posts/2022-11-18-Lesson-Plan.md
_posts/2022-11-26-Challenge-and-Homework.md
_posts/2022-11-29-expressions-and-strings.md
_posts/2022-11-30-homework.md
_posts/2022-11-26-listanditerationhomework.md
_posts/2022-11-29-Developing-Algorithms.md
_posts/2022-12-05-homework.md
_posts/2022-12-07-12-13-Homework.md
_posts/2022-12-12-Sections-14-15-HW.md