# Ignore from local build
settings.ini
Gemfile.lock
_posts/2022-08-22-My-First-Jupyter-Notebook.md
_posts/2022-08-23-Bash-Kernel.md
_posts/2022-08-25-Google-Doc-Post.md
_posts/2022-08-26-Python-Quiz.md
_posts/2022-08-30-Python-Lists-Dictionaries.md
_posts/2022-09-11-Performance-Task.md
_posts/2022-09-22-Javascript.md